*{
  box-sizing: border-box;
}

body{
margin:0;
background-image:url(./assets/fondo.png);
}

.root{
  padding: 0 20px;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.move-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  height:10000vh;
  align-items:flex-end ;
}

